<div class="container center-align w-50" style="font-family: inherit">
  <div class="d-flex flex-column text-light my-5 border border-light">
    <div><h3 class="fw-semibold text-decoration-underline mt-5">Junior Front-End Developer</h3></div>
    <div>
      <h5 class="fw-semibold text-decoration-underline">Job Details:</h5>
      <ul class="fs-5 lh-lg">
        <li>Company: Comcast</li>
        <li>Location: Denver, CO</li>
        <li>Salary: 70000</li>
        <li>Benefits: Medical, Dental, Vision, 401K</li>
      </ul>
    </div>
    <div>
      <h5 class="fw-semibold text-decoration-underline">Role Description:</h5>
      <p class="fs-5 lh-lg">
        We are looking for a candidate with passion and experience in front end web development. Must be able to talk to clients and work well in a
        team environment.
      </p>
    </div>
    <div>
      <h5 class="fw-semibold text-decoration-underline">How to apply?</h5>
      <p class="fs-5 lh-lg">Please follow the link below to apply for the position:</p>
      <a href="https://jobs.comcast.com/" target="_blank" style="color: deepskyblue" class="fs-4">Comcast</a>
    </div>
    <div class="mb-5">
      <h5>Thank you!</h5>
    </div>
  </div>
</div>