<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevDive</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    {{! <link type="text/css" rel="stylesheet" href="../../public/css/materialize.min.css"  media="screen,projection"/> }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.0/dist/css/materialize.min.css"
    />
    <link href="../../public/css/style.css" rel="stylesheet" media="screen,projection" />
  </head>

  <body>
    <nav role="navigation" class="light-blue lighten-1">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">DevDive</a>
        
        {{#if logged_in}}

        {{!-- <a href="/profile">profile</a> --}}
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Profile</a></li>
        </ul> |
        <button class="no-button" id="logout">logout</button>
        {{!-- <p>working</p> --}}
        {{else}}
        
        {{!-- <a href="/login">login</a> --}}
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Login</a></li>
        </ul>
        <p>working</p>
        {{/else}}
        {{/if}}
        {{!-- <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Login</a></li>
        </ul> --}}
      </div>
    </nav>
    
    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
    </main>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5>Company Bio</h5>
            <p>
              We are a team of college students working on this project like it's our full time job.
              Any amount would help support and continue development on this project and is greatly
              appreciated.
            </p>
          </div>
          <div class="col l3 s12">
            <h5>Settings</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Connect</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by
          <a
            class="us"
            href="https://materializecss.github.io/materialize"
            target="_blank"
            rel="noopener noreferrer"
          >Materialize</a>
        </div>
      </div>
    </footer>

    
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <p>working</p>
      <script src="/js/logout.js"></script>
    {{/if}}

    {{!-- <script type="text/javascript" src="../../public/js/materialize.min.js"></script> --}}
    <script
      src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.0/dist/js/materialize.min.js"
    ></script>
  </body>

</html>