<div class="jobs">
  {{#each jobs as |job|}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{job.id}}">{{job.title}}</a>
      </h2>
      <div>
        {{!-- NOTE: add format date helpers and etc
         --}}
        Posted by {{job.company_name}} 
        {{!-- on {{format_date createdAt}} --}}
      </div>
    </div>
  </article>
  {{/each}}
</div>