<div class="row row-cols-2">
  <div class="col-6 card2 text-center d-flex flex-wrap align-content-center justify-content-center">
    <p class="card1 fs-1 fst-italic fw-semibold my-5 text-light">Welcome to your Web Development Community!!</p>
    <div>
      <button type="button" class="btn #0d47a1 blue darken-4"><a href="/search" style="color: white">Start Your Search</a>
      </button>
    </div>
  </div>
  <div class="col-6 wrapper"></div>
</div>