<div class="container text-center">
    <div class="row">
        <div class="col-6 card1 fs-1 fst-italic fw-semibold my-5 text-light">
        Welcome to your Web Development Community!!
        <label for="exampleDataList" class="form-label"></label>
        <input class="form-control my-5 text-light" list="datalistOptions" id="exampleDataList" placeholder="Type to search jobs..." />
        <datalist id="datalistOptions">
            <option value="Junior Front-End Developer"></option>
            <option value="Junior Back-End Developer"></option>
            <option value="Scrum Master"></option>
            <option value="Senior Software Engineer"></option>
            <option value="Project Help"></option>
        </datalist>
        <button type="button" class="btn btn-secondary">Start Your Search</button>
        </div>
        <div class="col-6"></div>
    </div>
</div>