<div class="row">
  <div class="col-md-6 text-light">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input text-light" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input text-light" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn #0d47a1 blue darken-4" style="color: white;" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 text-light">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="first_name-signup">first_name:</label>
        <input class="form-input text-light" type="text" id="first_name-signup" />
      </div>
      <div class="form-group">
        <label for="last_name-signup">last_name:</label>
        <input class="form-input text-light" type="text" id="last_name-signup" />
      </div>
      <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input text-light" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input text-light" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input text-light" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn #0d47a1 blue darken-4" style="white" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>