<div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4 my-5">
          <div class="row valign-wrapper">
            <form class="grey darken-3 col-10">
              <div class="chips">
                <input id="search-tags" class="custom-input grey-text text-lighten-3" />
              </div>
            </form>
            <div class="col-2">
              <button class="btn waves-effect waves-light" type="submit" id="search-button">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card text-bg-dark border-light" style="width: 18rem">
            <div class="card-header">Front-End</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-bg-dark"><a
                  href="/search/junior,front-end,developer"
                  class="card-link"
                >Junior Front-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Front-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Entry Level Front-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Junior Front-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Senior Front-End Developer</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-dark border-light" style="width: 18rem">
            <div class="card-header">Back-End</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Junior Back-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Back-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Senior Back-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Junior Back-End Developer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Entry Level Back-End Developer</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-dark border-light" style="width: 18rem">
            <div class="card-header">Scrum Master</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Junior Scrum Master</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Scrum Master Assistant</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Scrum Master/Project Manager</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Scrum Master</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Project Manager/Scrum Master</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card text-bg-dark border-light" style="width: 18rem">
            <div class="card-header">Game Dev</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-bg-dark"><a
                  href="/search/junior,front-end,developer"
                  class="card-link"
                >3D Game Artist</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Producer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Systems Game Designer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Unity3D C# Programmer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Gameplay Programmer</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-dark border-light" style="width: 18rem">
            <div class="card-header">AI</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Machine-Learning Operations Engineer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Data-Analyst Intern</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Senior Data Modeler</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Machine-Learning Researcher</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >IT Data Lead</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-dark border-light" style="width: 18rem">
            <div class="card-header">Security</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Internal IT Auditor</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >IT Security Architect</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Senior Network Engineer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Cybersecurity Engineer</a></li>
              <li class="list-group-item text-bg-dark"><a
                  href="#"
                  class="card-link"
                  target="_blank"
                >Hardware Security Architect</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
<script src="/js/searchBar.js"></script>