.container {
  width: 90%;
}

h1 {
  color: orange;
}

a, .menu {
  color: white;
}

.material-icons {
  color: #29b6f6;
}

.us {
  color: #ffcc80;
}

footer{
  padding-bottom: 2%;
}

#footer{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

footer h5 {
  text-decoration: underline;
}

#extra  {
  text-align: center;
  display: contents;
}