.card1 {
  font-family: system-ui;
}

footer {
  padding-bottom: 2%;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  }

footer h5 {
  text-decoration: underline;
}

#id {
  text-align: center;
  display: flex;
  justify-content: center;
}

